:root {
    --base: #ffc600;
    --spacing: 10px;
    --blur: 10px;
    --radius: 30px;
    --background: black;
  }

  body{
    background-color: var(--background);
    text-align: center;
    font-family: 'helvetica neue', sans-serif;
    font-weight: 100;
    font-size: 25px;
  }

  h2{
    color: white;
  }

  label{
    color: white;
  }

  img {
    padding: var(--spacing);
    background: var(--base);
    filter: blur(var(--blur));
    border-radius: var(--radius);
  }
  
  .hl {
    color: var(--base);
  }

  .controls {
    margin-bottom: 50px;
  }

  input {
    width: 100px;
  }